:root {
  --backcolor: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.container {
  height: 350px;
  width: 200px;
  display: grid;
  place-items: center;
}
.golden {
  height: 100%;
  width: 100%;
  background-color: #eeba2b;
  /* clip-path: path(
    "M 17 54 A 250,270 0,0,1 180,0 A 250,270 0,0,1 353 52 L 353 528 A 200,200 0,0,0 180,578 A 200,200 0,0,0 17 528 Z"
  ); */
}

.transparent {
  height: 100%;
  width: 100%;
  background-color: var(--backcolor);
  /* clip-path: path(
    "M 19 54 A 250,270 0,0,1 180,2 A 250,270 0,0,1 351 54 L 351 526 A 200,200 0,0,0 180,576 A 200,200 0,0,0 19 526 Z"
  ); */
}

.border-part {
  height: 100%;
  width: 100%;
  background-color: #adfa1d;
  /* clip-path: path(
    "M 23 58 A 250,270 0,0,1 180,4 A 250,270 0,0,1 347 58 L 347 522 A 200,200 0,0,0 180,572 A 200,200 0,0,0 23 522 Z"
  ); */
}
.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--backcolor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  clip-path: path(
    "M 15,40 A 250,270 0,0,1 100,4 A 250,270 0,0,1 185,40 L 185,300 A 200,200 0,0,0 100,350 A 200,200 0,0,0 15,300 Z"
  );
}

.img {
  flex: 0.5;
  /* border: 2px solid red; */
  color: white;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: -15px;
}

.name {
  flex: 0.1;
  /* border: 2px solid gold; */
  color: #adfa1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  font-size: larger;
  font-weight: bold;
}
.nameplayer {
  font-size: large;
}

.dash {
  font-weight: bolder;
  margin-top: -10px;
  margin-bottom: 15px;
}
.details {
  flex: 0.4;
  /* border: 2px solid blue; */
  color: white;
  padding-bottom: 15%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.details-left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: #adfa1d;
  font-size: 14px;
  padding-left: 10px;
}
.details-right {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 10%;
  color: #adfa1d;
  font-size: 14px;
  align-items: center;
}
.img {
  display: grid;
  justify-content: center;
  align-items: center;
}
