:root {
  --backcolor: rgb(240, 248, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #000;
  height: 100vh;
  width: 100%;
}

.sub-container {
  max-width: 500px;
  height: 100%;
  display: flex;
  background-color: var(--backcolor);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.golden-outline {
  background-color: goldenrod;
  width: 200px;
  height: 100px;
  clip-path: path("M 10 50 L 190 50 L 190 60 L 10 60 Z");
}

.border-part {
  background-color: #adfa1d;
  clip-path: path(
    "M 48,98 A 250,270 0,0,1 148,63 A 250,270 0,0,1 252,98 L 252,352 A 200,200 0,0,0 150,372 A 200,200 0,0,0 48,352 Z"
  );
}

.card-shape {
  height: 500px;
  width: 300px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: black;

  clip-path: path(
    "M 50,100 A 250,270 0,0,1 148,65 A 250,270 0,0,1 250,100 L 250,350 A 200,200 0,0,0 150,370 A 200,200 0,0,0 50,350 Z"
  );
}
