:root {
  --backcolor: #000;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--backcolor);
}

.sub-container {
  max-width: 300px;
  height: 70vh;
  background-color: var(--backcolor);
  display: grid;
  place-items: center;
}
.golden-outline {
  background-image: linear-gradient(#eeba2b, #b78628);
  height: 65vh;
  width: 300px;
  clip-path: path(
    "M 43,93 A 250,270 0,0,1 148,58 A 250,270 0,0,1 257,93 L 257,357 A 200,200 0,0,0 150,377 A 200,200 0,0,0 43,357 Z"
  );
}
/* keep colour of transparent and background same for ring effect  */

.transparent {
  background-color: var(--backcolor);
  height: 65vh;
  clip-path: path(
    "M 44,94 A 250,270 0,0,1 148,59 A 250,270 0,0,1 256,94 L 256,356 A 200,200 0,0,0 150,376 A 200,200 0,0,0 44,356 Z"
  );
}

.border-part {
  height: 65vh;
  background-color: #adfa1d;
  clip-path: path(
    "M 48,98 A 250,270 0,0,1 148,63 A 250,270 0,0,1 252,98 L 252,352 A 200,200 0,0,0 150,372 A 200,200 0,0,0 48,352 Z"
  );
}

.card-shape {
  height: 65vh;
  width: 300px;

  background: black;
  clip-path: path(
    "M 50,100 A 250,270 0,0,1 148,65 A 250,270 0,0,1 250,100 L 250,350 A 200,200 0,0,0 150,370 A 200,200 0,0,0 50,350 Z"
  );
  display: flex;
  flex-direction: column;
}
.User-image {
  background-color: rgb(0, 0, 0);
  position: relative;
  margin-top: 30px;
  flex: 1;
}
.card-details {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #adfa1d;
  background-color: var(--backcolor);
  flex: 0;
  display: flex;
}
