:root {
  --backcolor: #000;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--backcolor);
}

.container {
  background: var(--backcolor);
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.sub-container {
  max-width: 500px;
  height: 100vh;
  background-color: var(--backcolor);
}
.golden-outline {
  background-image: linear-gradient(#eeba2b, #b78628);
  height: 100%;
  width: 500px;
  clip-path: path(
    "M 43,93 A 250,270 0,0,1 148,58 A 250,270 0,0,1 257,93 L 257,357 A 200,200 0,0,0 150,377 A 200,200 0,0,0 43,357 Z"
  );
}
/* keep colour of transparent and background same for ring effect  */

.transparent {
  background-color: var(--backcolor);
  height: 100%;
  width: 500px;
  clip-path: path(
    "M 44,94 A 250,270 0,0,1 148,59 A 250,270 0,0,1 256,94 L 256,356 A 200,200 0,0,0 150,376 A 200,200 0,0,0 44,356 Z"
  );
}

.border-part {
  height: 100%;
  width: 500px;
  background-color: #adfa1d;
  clip-path: path(
    "M 48,98 A 250,270 0,0,1 148,63 A 250,270 0,0,1 252,98 L 252,352 A 200,200 0,0,0 150,372 A 200,200 0,0,0 48,352 Z"
  );
}

.card-shape {
  height: 100%;
  width: 500px;
  background: black;
  clip-path: path(
    "M 50,100 A 250,270 0,0,1 148,65 A 250,270 0,0,1 250,100 L 250,350 A 200,200 0,0,0 150,370 A 200,200 0,0,0 50,350 Z"
  );
}
